.icon-container {
  position: fixed;
  top: 100px;
  left: 20px; /* Ajusta este valor para la distancia desde el borde izquierdo */
  /* transform: translateX(-50%); */ /* Elimina esta línea */
  text-align: left; /* Alinea el contenido a la izquierda */
  z-index: 100;
}

.icon-container img {
  width: 100px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.icon-container img:hover {
  transform: scale(1.1);
}

.icon-container a {
  display: block;
}